
body {
  font-family: 'Roboto Mono', monospace;
}
#header {
  display: flex;
  justify-content: center;
}
#header .header-item {
  margin: 2em 2em;
}

.btn {
  cursor: pointer;
  width: 200px;
  padding: 1.2em;
  font-size: 1.2em;
  font-weight: bold;
  background: transparent;
  color: #2196f3;
  box-shadow: 0 2px  #1d0d0d;
  border: none;
}
.btn:focus {
  border-bottom: 2px solid #2196f3;
}
.typewriter {
  width: 55%;
}
.typewriter-title {
  font-size: 5em;
  margin: 1.5em 2em;
}

